# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv_310

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.coverage
htmlcov/
/dist/
build/
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints

# Project specifics
data/
models/
logs/
scratch/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
